@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
}

#js-licensing{
    display: none;
}

body{
    background-color: #e4eaec;
}

.layout{
    display: grid;
    grid-template-columns: 255px auto;
}

.layout-child{
    padding: 15px;
    margin: 10px;
}

.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #1B26A8;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;
    color: white;
    border-radius: 0px 15px 15px 0px;
}

.sidebar ul li{
    list-style: none;
}

.link{
    color: white;
    text-decoration: none;
}

.sidebar ul{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}