@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
}

#js-licensing {
    display: none;
}

body {
    background-color: #e4eaec;
}

.layout {
    display: grid;
    grid-template-columns: 255px auto;
}

.layout-child {
    padding: 15px;
    margin: 10px;
}


.sidebar {
    background-color: #001D6E;
    width: 250px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 100vh;
    color: white;
    border-radius: 0px 15px 15px 0px;
}

.sidebar-links {
    margin: 0px 20px;
    min-height: 80vh;
}

.sidebar-links .disabel {
    margin-top: 15px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 100%;
    text-align: start;
    padding: 17.5px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none !important;
    letter-spacing: 0;
}

.sidebar-links .active {
    background-color: #FFF !important;
    text-decoration: none !important;
    color: #001D6E;
    font-weight: bold;
}

.sidebar-links .disabel.btn-primary:hover {
    color: #000000 !important;
}

.sidebar-links .active.btn-primary:hover {
    color: #ffffff !important;
}

.sidebar-links a {
    text-decoration: none;
}

.nextui-c-hWZRae-bzEnZV-borderWeight-normal {
    width: 100%;
}

.blogTitle {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #e4eaec;
}

.blogTitle:focus-visible{
    border: none;
}